Repository ethanturk/python-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, prettier-frontend, test-frontend, test-backend-unit

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# Update hooks: pre-commit autoupdate
# https://pre-commit.com

repos:
  # General file formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=5000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Python code formatting (backend)
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3
        files: ^backend/

  # Python linting and code quality (backend)
  # - repo: https://github.com/astral-sh/ruff-pre-commit
  #   rev: v0.1.15
  #   hooks:
  #     - id: ruff
  #       args: [--fix, --exit-non-zero-on-fix]
  #       files: ^backend/

  # Type checking (backend) - optional, can be slow
  # Uncomment to enable mypy in pre-commit
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-all]
  #       args: [--strict, --ignore-missing-imports]
  #       files: ^backend/

  # Security scanning (backend) - Disabled temporarily due to config issues
  # - repo: https://github.com/PyCQA/bandit
  #   rev: 1.7.6
  #   hooks:
  #     - id: bandit
  #       args: ['-c', 'backend/.bandit', '-r', 'backend/']
  #       files: ^backend/

  # Secrets detection (all)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        exclude: package.lock.json

  # JavaScript/TypeScript linting (frontend)
  - repo: local
    hooks:
      - id: eslint-frontend
        name: ESLint (Frontend)
        entry: sh -c 'cd frontend && npm run lint -- --fix || true'
        language: system
        files: ^frontend/
        types: [javascript, jsx, ts, tsx]
        pass_filenames: false

  # JavaScript/TypeScript formatting (frontend)
  - repo: local
    hooks:
      - id: prettier-frontend
        name: Prettier (Frontend)
        entry: sh -c 'cd frontend && npx prettier --write "**/*.{js,jsx,ts,tsx,json,css,scss,md}" || true'
        language: system
        files: ^frontend/
        pass_filenames: false

  # Frontend tests
  - repo: local
    hooks:
      - id: test-frontend
        name: Test Frontend
        entry: sh -c 'cd frontend && npm test -- --run --passWithNoTests || true'
        language: system
        files: ^frontend/
        pass_filenames: false

  # Backend tests
  - repo: local
    hooks:
      - id: test-backend-unit
        name: Backend Unit Tests
        entry: sh -c 'cd backend && python -m pytest -m unit -v || true'
        language: system
        files: ^backend/
        pass_filenames: false

Enable precommit
  .pre-commit-config.yaml
Due: none

fix: Resolve all frontend linter errors
  frontend/src/App.jsx
  frontend/src/components/DocumentListView.jsx
  frontend/src/components/DocumentListView.test.jsx
  frontend/src/components/ErrorBoundary.jsx
  frontend/src/components/NavBar.jsx
  frontend/src/components/SearchView.jsx
  frontend/src/contexts/AuthContext.jsx
  frontend/src/contexts/DocumentSetContext.jsx
  frontend/src/hooks/useAuth.js
  frontend/src/hooks/useDocumentSet.js
  frontend/src/hooks/useSearch.js
  frontend/src/hooks/useWebSocket.js
  frontend/src/utils.js
Due: prettier-frontend, test-frontend

fix: Remove ESLint error for unused error parameter in ErrorBoundary
  frontend/src/components/ErrorBoundary.jsx
Due: prettier-frontend, test-frontend

fix: Add /* global process */ comment to vite.config.js for ESLint
  frontend/vite.config.js
Due: prettier-frontend, test-frontend

Fix tests
  frontend/src/App.test.jsx
  frontend/src/components/DocumentListView.test.jsx
  frontend/src/components/NavBar.test.jsx
  frontend/src/hooks/useAuth.js
  frontend/src/setupTests.js
Due: prettier-frontend, test-frontend

Backend test fixes
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  frontend/src/App.test.jsx
Due: prettier-frontend, test-frontend

Fix CI
  .github/workflows/ci.yml
Due: none

Fix build issue
  backend/Dockerfile
Due: test-backend-unit

Fix backend unit tests
  TESTING_REFACTOR_SUMMARY.md
  backend/tests/conftest.py
  backend/tests/test_agent_service.py
  backend/tests/test_async_tasks.py
  backend/tests/test_backend_app.py
  backend/tests/test_summarizer.py
Due: test-backend-unit

Remove circular dependency
  frontend/src/contexts/DocumentSetContext.jsx
Due: prettier-frontend, test-frontend

Another attempted fix
  frontend/src/contexts/DocumentSetContext.jsx
Due: prettier-frontend, test-frontend

Change to GCP
  CLAUDE.md
  backend/.env.example
  docker-compose.worker.yml
  docker-compose.yml
  infra/main.tf
  infra/outputs.tf
  infra/variables.tf
Due: test-backend-unit

Remove k8s files
  k8s/backend.yaml
  k8s/frontend.yaml
Due: none

Revert "Change to GCP"
  CLAUDE.md
  backend/.env.example
  docker-compose.worker.yml
  docker-compose.yml
  infra/main.tf
  infra/outputs.tf
  infra/variables.tf
Due: test-backend-unit

Add env to gitignore
  .gitignore
Due: none

Setup more Azure
  .gitignore
  .prettierignore
  AGENTS.md
  backend/.env.example
  backend/.ruff.toml
  backend/backend_app.py
  backend/config.py
  backend/database.py
  backend/requirements.txt
  backend/services/azure_storage.py
  backend/services/file_management.py
  docker-compose.worker.yml
  docker-compose.yml
  scripts/setup-azure.sh
Due: test-backend-unit

Fix error
  backend/services/file_management.py
Due: test-backend-unit

Move summaries to supabase
  backend/database.py
  scripts/init_db.sql
Due: test-backend-unit

Update env.example
  backend/.env.example
Due: test-backend-unit

Stop trying to run sql commands via the API
  backend/database.py
Due: test-backend-unit

Standardize filename
  docker-compose.proxy.yml
Due: none

app fixes
  docker-compose.frontend.yml
  frontend/vite.config.js
Due: prettier-frontend, test-frontend

Add traefik files
  .gitignore
  docker-compose.traefik.yml
  traefik/README.md
  traefik/dynamic/routes.yml
  traefik/traefik.yml
Due: none

Update traefik config
  docker-compose.traefik.yml
  traefik/traefik.yml
Due: none

Fix config
  docker-compose.traefik.yml
Due: none

Fix traefik again
  docker-compose.traefik.yml
Due: none

Fix traefik config again
  docker-compose.traefik.yml
Due: none

update password hash
  docker-compose.traefik.yml
Due: none

Update password hash
  docker-compose.traefik.yml
Due: none

Update gitignore temp
  .gitignore
Due: none

Temp gitignore update
  .gitignore
  backend/.env
Due: test-backend-unit

Auto stash before rebase of "main"
  .gitignore
Due: none

Try fix hash again
  docker-compose.traefik.yml
Due: none

Fix traefik maybe
  docker-compose.traefik.yml
Due: none

Update internal addresses
  docker-compose.frontend.yml
  docker-compose.traefik.yml
  docker-compose.yml
Due: none

Update network
  docker-compose.traefik.yml
Due: none

Update hostnames
  docker-compose.traefik.yml
Due: none

CORS fix
  backend/backend_app.py
Due: test-backend-unit

Update CORS
  backend/backend_app.py
  docker-compose.yml
Due: test-backend-unit
