Repository ethanturk/python-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, prettier-frontend, test-frontend, test-backend-unit

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# Update hooks: pre-commit autoupdate
# https://pre-commit.com

repos:
  # General file formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=5000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Python code formatting (backend)
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3
        files: ^backend/

  # Python linting and code quality (backend)
  # - repo: https://github.com/astral-sh/ruff-pre-commit
  #   rev: v0.1.15
  #   hooks:
  #     - id: ruff
  #       args: [--fix, --exit-non-zero-on-fix]
  #       files: ^backend/

  # Type checking (backend) - optional, can be slow
  # Uncomment to enable mypy in pre-commit
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-all]
  #       args: [--strict, --ignore-missing-imports]
  #       files: ^backend/

  # Security scanning (backend) - Disabled temporarily due to config issues
  # - repo: https://github.com/PyCQA/bandit
  #   rev: 1.7.6
  #   hooks:
  #     - id: bandit
  #       args: ['-c', 'backend/.bandit', '-r', 'backend/']
  #       files: ^backend/

  # Secrets detection (all)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        exclude: package.lock.json

  # JavaScript/TypeScript linting (frontend)
  - repo: local
    hooks:
      - id: eslint-frontend
        name: ESLint (Frontend)
        entry: sh -c 'cd frontend && npm run lint -- --fix || true'
        language: system
        files: ^frontend/
        types: [javascript, jsx, ts, tsx]
        pass_filenames: false

  # JavaScript/TypeScript formatting (frontend)
  - repo: local
    hooks:
      - id: prettier-frontend
        name: Prettier (Frontend)
        entry: sh -c 'cd frontend && npx prettier --write "**/*.{js,jsx,ts,tsx,json,css,scss,md}" || true'
        language: system
        files: ^frontend/
        pass_filenames: false

  # Frontend tests
  - repo: local
    hooks:
      - id: test-frontend
        name: Test Frontend
        entry: sh -c 'cd frontend && npm test -- --run --passWithNoTests || true'
        language: system
        files: ^frontend/
        pass_filenames: false

  # Backend tests
  - repo: local
    hooks:
      - id: test-backend-unit
        name: Backend Unit Tests
        entry: sh -c 'cd backend && python -m pytest -m unit -v || true'
        language: system
        files: ^backend/
        pass_filenames: false

docs: create Firebase to Supabase Auth migration plan
  docs/AUTH_MIGRATION.md
  nginx.conf
Due: none

Optimize frontend vite
  .env
  backend/.env.example
  backend/CRITICAL_FIXES_APPLIED.md
  backend/SECURITY.md
  docker-compose.frontend.yml
  docker-compose.proxy.yml
  frontend/.env.example
  frontend/Dockerfile
  frontend/VITE_DOCKER_OPTIMIZATION.md
  frontend/vite.config.js
Due: prettier-frontend, test-frontend, test-backend-unit

Tamp down perf
  docker-compose.frontend.yml
Due: none

Fix bad option
  frontend/vite.config.js
Due: prettier-frontend, test-frontend

Ensure Prod build on deploy
  docker-compose.frontend.yml
  docker-compose.worker.yml
  frontend/Dockerfile
Due: prettier-frontend, test-frontend

Add missing package
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, test-frontend

Add missing env variables
  docker-compose.frontend.yml
  frontend/Dockerfile
Due: prettier-frontend, test-frontend

docs: add comprehensive ShadCN UI migration plan
  docs/UI_MIGRATION.md
Due: none

feat: Phase 1 of ShadCN UI migration - foundation and core components
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/components/DeleteConfirmDialog.tsx
  frontend/src/components/DocumentSetAutocomplete.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/FileDropZone.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/UploadDialog.tsx
  frontend/src/components/ui/accordion.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/config.ts
  frontend/src/constants.ts
  frontend/src/index.css
  frontend/src/lib/utils.ts
  frontend/src/utils.ts
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: prettier-frontend, test-frontend

Fix final migration issues
  frontend/src/components/DocumentListView.tsx
  frontend/src/components/NotificationSidebar.tsx
  frontend/src/components/SearchView.tsx
  frontend/src/components/SummarizeView.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/DocumentSetContext.tsx
  frontend/src/hooks/useDocuments.ts
  frontend/src/hooks/useSearch.ts
  frontend/src/hooks/useSummarization.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/vite.config.ts
Due: prettier-frontend, test-frontend

Implement official shadcn/ui Slate color scheme
  frontend/src/index.css
Due: prettier-frontend, test-frontend

Move to ShadCN UI
  frontend/src/components/DocumentListView.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/SearchView.tsx
  frontend/src/components/SummarizeView.tsx
  frontend/src/components/ui/accordion.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
Due: prettier-frontend, test-frontend

Migrate to Vercel
  .github/workflows/docker-hub-deploy.yml
  .github/workflows/vercel-backend-deploy.yml
  .github/workflows/vercel-frontend-deploy.yml
  backend/Dockerfile.worker
  deploy-dockerhub.sh
  docker-compose.worker.old.yml
  docker-compose.worker.yml
  docker-compose.yml
  frontend/.vercelignore
  frontend/Dockerfile
  frontend/vercel.json
Due: prettier-frontend, test-frontend, test-backend-unit

Update vite
  frontend/Dockerfile
  frontend/vercel.json
Due: prettier-frontend, test-frontend

Vercel fixes
  frontend/Dockerfile
  frontend/vercel.json
Due: prettier-frontend, test-frontend

Another vercel fix
  frontend/vercel.json
Due: prettier-frontend, test-frontend

Another vercel fix
  frontend/.vercelignore
  frontend/vercel.json
Due: prettier-frontend, test-frontend

More vercel fixes
  .github/workflows-future/ci.yml
  .github/workflows-future/deploy.yml
  .github/workflows-future/docker-hub-deploy.yml
  .github/workflows-future/vercel-backend-deploy.yml
  .github/workflows-future/vercel-frontend-deploy.yml
  .gitignore
  frontend/package.json
  frontend/vercel.json
  vercel.json
Due: prettier-frontend, test-frontend

fix: skip env validation in Vercel builds since vars are injected at runtime
  frontend/vite.config.ts
Due: prettier-frontend, test-frontend

Deploy backend to vercel, too
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-hub-deploy.yml
  .github/workflows/vercel-backend-deploy.yml
  .github/workflows/vercel-frontend-deploy.yml
  api/.vercelignore
  api/index.py
  backend/requirements.txt
  vercel.json
Due: test-backend-unit

Fix Vercel deployment MIME type issues
  frontend/vercel.json
  vercel.json
Due: prettier-frontend, test-frontend

fix: correct MIME type headers and base path for Vercel deployment
  vercel.json
Due: none

Multi-tenant fixes
  .env.workers-multi.example
  backend/config.py
  backend/requirements.txt
  docker-compose.workers-multi.yml
  docs/BACKEND_DEPLOYMENT.md
  docs/BACKEND_PERF_ANALYSIS.md
  docs/CI_CD.md
  docs/DEPLOYMENT_ORDER.md
  docs/IMPLEMENTATION_COMPLETE.md
  docs/INSTANCE_SETUP.md
  docs/LIGHTWEIGHT_ALTERNATIVES_ANALYSIS.md
  docs/MULTI_INSTANCE_README.md
  docs/OPENROUTER_CONFIG.md
  docs/QUICK_REFERENCE.md
  docs/SHADCN_MIGRATION_ANALYSIS.md
  docs/TESTING_REFACTOR_SUMMARY.md
  docs/TRAEFIK_SETUP.md
  docs/UI_VISUAL_SYSTEM_OVERHAUL.md
  docs/VERCEL_CICD_PLAN.md
  docs/VERCEL_MIGRATION_GUIDE.md
  docs/VISUAL_FIX_ROOT_CAUSE.md
  examples/tenant1.env.example
  frontend/VISUAL_FIXES_IMPLEMENTATION.md
  frontend/VISUAL_FIXES_SUMMARY.md
  scripts/add-worker-to-vps.sh
  scripts/deployment-checklist.sh
  scripts/provision-instance.sh
  scripts/setup-vps.sh
  scripts/verify-instance.sh
Due: prettier-frontend, test-frontend, test-backend-unit

Fix Vercel routing for API and WebSocket endpoints
  vercel.json
Due: none

feat: redesign UI with modern black and white color scheme
  frontend/BLACK_WHITE_REDESIGN_SUMMARY.md
  frontend/UI_DESIGN_SYSTEM.md
  frontend/VISUAL_DESIGN_PREVIEW.md
  frontend/src/components/NavBar.tsx
  frontend/src/components/ui/accordion.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/index.css
Due: prettier-frontend, test-frontend

fix: correct MIME type headers for /southhaven/ base path
  vercel.json
Due: none

fix: exclude assets from catch-all rewrite to prevent MIME type issues
  vercel.json
Due: none

fix: properly configure Vercel routing for /southhaven base path
  vercel.json
Due: none

fix: remove invalid regex pattern from Vercel rewrite rule
  vercel.json
Due: none

feat: migrate WebSocket to Server-Sent Events for Vercel compatibility
  backend/backend_app.py
  backend/requirements.txt
  backend/services/sse_manager.py
  frontend/src/App.tsx
  frontend/src/hooks/useServerSentEvents.ts
  vercel.json
Due: prettier-frontend, test-frontend, test-backend-unit

Fix conflicting rewrite rules in Vercel config
  vercel.json
Due: none

Fix Vercel routing order
  vercel.json
Due: none

Simplify Vercel rewrites to minimal rules
  backend/backend_app.py
  vercel.json
Due: test-backend-unit

Exclude assets from backend rewrite
  vercel.json
Due: none

Disable all GitHub Actions workflows
  .github/workflows/ci.yml
Due: none

Fix CI workflow YAML syntax and disable
  .github/workflows/ci.yml
Due: none

Fix asset routing with explicit exclude rule
  vercel.json
Due: none

Let Vercel auto-serve static files
  vercel.json
Due: none

Fix Vercel config with correct output directory
  vercel.json
Due: none
