Repository ethanturk/python-agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, prettier-frontend, test-frontend, test-backend-unit

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# Update hooks: pre-commit autoupdate
# https://pre-commit.com

repos:
  # General file formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=5000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Python code formatting (backend)
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3
        files: ^backend/

  # Python linting and code quality (backend)
  # - repo: https://github.com/astral-sh/ruff-pre-commit
  #   rev: v0.1.15
  #   hooks:
  #     - id: ruff
  #       args: [--fix, --exit-non-zero-on-fix]
  #       files: ^backend/

  # Type checking (backend) - optional, can be slow
  # Uncomment to enable mypy in pre-commit
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy
  #       additional_dependencies: [types-all]
  #       args: [--strict, --ignore-missing-imports]
  #       files: ^backend/

  # Security scanning (backend) - Disabled temporarily due to config issues
  # - repo: https://github.com/PyCQA/bandit
  #   rev: 1.7.6
  #   hooks:
  #     - id: bandit
  #       args: ['-c', 'backend/.bandit', '-r', 'backend/']
  #       files: ^backend/

  # Secrets detection (all)
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        exclude: package.lock.json

  # JavaScript/TypeScript linting (frontend)
  - repo: local
    hooks:
      - id: eslint-frontend
        name: ESLint (Frontend)
        entry: sh -c 'cd frontend && npm run lint -- --fix || true'
        language: system
        files: ^frontend/
        types: [javascript, jsx, ts, tsx]
        pass_filenames: false

  # JavaScript/TypeScript formatting (frontend)
  - repo: local
    hooks:
      - id: prettier-frontend
        name: Prettier (Frontend)
        entry: sh -c 'cd frontend && npx prettier --write "**/*.{js,jsx,ts,tsx,json,css,scss,md}" || true'
        language: system
        files: ^frontend/
        pass_filenames: false

  # Frontend tests
  - repo: local
    hooks:
      - id: test-frontend
        name: Test Frontend
        entry: sh -c 'cd frontend && npm test -- --run --passWithNoTests || true'
        language: system
        files: ^frontend/
        pass_filenames: false

  # Backend tests
  - repo: local
    hooks:
      - id: test-backend-unit
        name: Backend Unit Tests
        entry: sh -c 'cd backend && python -m pytest -m unit -v || true'
        language: system
        files: ^backend/
        pass_filenames: false

Add API rewrite rules without /southhaven prefix
  vercel.json
Due: none

Fix outputDirectory to frontend/dist
  vercel.json
Due: none

Build files into southhaven subdirectory
  vercel.json
Due: none

Fix build command to create southhaven before moving
  vercel.json
Due: none

Fix build command with relative paths
  vercel.json
Due: none

Fix catch-all rewrite for southhaven root
  backend/backend_app.py
  frontend/.env.example
  vercel.json
Due: prettier-frontend, test-frontend, test-backend-unit

Try Gemini
  api/requirements.txt
  vercel.json
Due: none

Add vercelignore
  .vercelignore
Due: none

Update gitignore
  .gitignore
Due: none

Revert "Update gitignore"
  .gitignore
Due: none

Revert "Try Gemini"
  api/requirements.txt
  vercel.json
Due: none

Revert "Add vercelignore"
  .vercelignore
Due: none

fix: restore /southhaven base path in Vercel configuration
  vercel.json
Due: none

fix: add query parameter auth and hardcode path prefix for Vercel SSE
  backend/auth.py
  backend/backend_app.py
Due: test-backend-unit

fix: convert to root-level deployment for multi-instance architecture
  backend/backend_app.py
  vercel.json
Due: test-backend-unit

feat: implement long-polling fallback for real-time notifications
  backend/backend_app.py
  frontend/src/App.tsx
  frontend/src/hooks/usePolling.ts
  vercel.json
Due: prettier-frontend, test-frontend, test-backend-unit

fix: create Vercel serverless handler for FastAPI app
  backend/api/index.py
Due: test-backend-unit

fix: move serverless handler to Vercel's expected location
  api/index.py
  requirements.txt
  vercel.json
Due: none

perf: implement minimal dependencies for Vercel serverless deployment
  .vercelignore
  backend/backend_app.py
  backend/requirements-vercel.txt
  requirements.txt
Due: test-backend-unit

fix: don't exclude frontend source files from Vercel build
  .vercelignore
Due: none

2 more openspec files
  .agent/workflows/openspec-apply.md
  .agent/workflows/openspec-archive.md
  .agent/workflows/openspec-proposal.md
  .claude/commands/openspec/apply.md
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  .opencode/command/openspec-apply.md
  .opencode/command/openspec-archive.md
  .opencode/command/openspec-proposal.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  openspec/AGENTS.md
  openspec/project.md
Due: none

Update plan
  openspec/changes/split-backend-serverless/design.md
  openspec/changes/split-backend-serverless/proposal.md
  openspec/changes/split-backend-serverless/specs/agent/spec.md
  openspec/changes/split-backend-serverless/specs/documents/spec.md
  openspec/changes/split-backend-serverless/specs/notifications/spec.md
  openspec/changes/split-backend-serverless/specs/summaries/spec.md
  openspec/changes/split-backend-serverless/tasks.md
Due: none

feat: Refactor backend for serverless deployment
  AGENTS.md
  api/agent/index.py
  api/documents/index.py
  api/notifications/index.py
  api/summaries/index.py
  backend/SERVERLESS_DEPLOYMENT.md
  backend/agent_app.py
  backend/backend_app.py
  backend/common/__init__.py
  backend/common/auth.py
  backend/common/config.py
  backend/common/deps.py
  backend/common/models.py
  backend/documents_app.py
  backend/notifications_app.py
  backend/requirements-agent.txt
  backend/requirements-documents.txt
  backend/requirements-notifications.txt
  backend/requirements-summaries.txt
  backend/services/queue_service.py
  backend/summaries_app.py
  backend/tests/test_common.py
  backend/tests/test_queue_service.py
  openspec/changes/archive/2026-01-11-split-backend-serverless/design.md
  openspec/changes/archive/2026-01-11-split-backend-serverless/proposal.md
  openspec/changes/archive/2026-01-11-split-backend-serverless/specs/agent/spec.md
  openspec/changes/archive/2026-01-11-split-backend-serverless/specs/documents/spec.md
  openspec/changes/archive/2026-01-11-split-backend-serverless/specs/notifications/spec.md
  openspec/changes/archive/2026-01-11-split-backend-serverless/specs/summaries/spec.md
  openspec/changes/archive/2026-01-11-split-backend-serverless/tasks.md
  openspec/changes/split-backend-serverless/tasks.md
  openspec/specs/agent/spec.md
  openspec/specs/documents/spec.md
  openspec/specs/notifications/spec.md
  openspec/specs/summaries/spec.md
  vercel.json
Due: test-backend-unit

Implement optimize-serverless-dependencies: Split function-specific minimal dependencies
  api/.vercelignore
  api/agent/index.py
  api/agent/models.py
  api/agent/requirements.txt
  api/agent/service.py
  api/documents/index.py
  api/documents/models.py
  api/documents/requirements.txt
  api/documents/service.py
  api/notifications/index.py
  api/notifications/models.py
  api/notifications/requirements.txt
  api/notifications/service.py
  api/summaries/index.py
  api/summaries/models.py
  api/summaries/requirements.txt
  api/summaries/service.py
  backend/SERVERLESS_DEPLOYMENT.md
  backend/common/__init__.py
  backend/common/auth.py
  openspec/changes/optimize-serverless-dependencies/design.md
  openspec/changes/optimize-serverless-dependencies/proposal.md
  openspec/changes/optimize-serverless-dependencies/specs/agent-function/spec.md
  openspec/changes/optimize-serverless-dependencies/specs/dependency-management/spec.md
  openspec/changes/optimize-serverless-dependencies/specs/documents-function/spec.md
  openspec/changes/optimize-serverless-dependencies/specs/notifications-function/spec.md
  openspec/changes/optimize-serverless-dependencies/specs/summaries-function/spec.md
  openspec/changes/optimize-serverless-dependencies/tasks.md
Due: test-backend-unit

Fix Vercel build: Update requirements-vercel.txt to remove sse-starlette
  backend/requirements-vercel.txt
Due: test-backend-unit

Mark optimize-serverless as archived
  openspec/changes/archive/2026-01-11-optimize-serverless-dependencies/design.md
  openspec/changes/archive/2026-01-11-optimize-serverless-dependencies/proposal.md
  openspec/changes/archive/2026-01-11-optimize-serverless-dependencies/specs/agent-function/spec.md
  openspec/changes/archive/2026-01-11-optimize-serverless-dependencies/specs/dependency-management/spec.md
  openspec/changes/archive/2026-01-11-optimize-serverless-dependencies/specs/documents-function/spec.md
  openspec/changes/archive/2026-01-11-optimize-serverless-dependencies/specs/notifications-function/spec.md
  openspec/changes/archive/2026-01-11-optimize-serverless-dependencies/specs/summaries-function/spec.md
  openspec/changes/archive/2026-01-11-optimize-serverless-dependencies/tasks.md
  openspec/specs/agent-function/spec.md
  openspec/specs/dependency-management/spec.md
  openspec/specs/documents-function/spec.md
  openspec/specs/notifications-function/spec.md
  openspec/specs/summaries-function/spec.md
Due: none

Add cffi explicitly to fix Vercel build error
  api/agent/requirements.txt
  api/documents/requirements.txt
  api/notifications/requirements.txt
  api/summaries/requirements.txt
Due: none

Remove cffi and pin azure-storage-blob to fix Vercel build
  api/agent/requirements.txt
  api/documents/requirements.txt
  api/notifications/requirements.txt
  api/summaries/requirements.txt
Due: none

Replace litellm with openai to fix Vercel build
  api/agent/requirements.txt
  backend/services/llm.py
Due: test-backend-unit

Test remove azure-storage-blob requirement
  api/documents/requirements.txt
Due: none

Revert "Test remove azure-storage-blob requirement"
  api/documents/requirements.txt
Due: none

Update depdency files
  .vercelignore
  api/.vercelignore
  vercel.json
Due: none

Update Vercel configuration to include build and output directory settings
  vercel.json
Due: none

Update packages
  package-lock.json
  package.json
Due: none

Add unit tests for Node.js serverless functions
  api/agent/index.test.ts
  api/documents/index.test.ts
  api/summaries/index.test.ts
  backend-nodejs/README.md
  backend-nodejs/common/supabase.ts
  openspec/changes/migrate-backend-to-nodejs/tasks.md
  package.json
Due: none
